*.class
*.log
src/1-java/app/project/*
.DS_Store
src/1-java/app/target/*
data/raw/datasets/*
data/raw/TREC*
src/.seed/*
src/1-java/target/*
src/TweetMinner-master/.project
src/lagom-java-sbt/.idea/*
src/play-api/target*
src/CoreNLP/*
bkgit*
src2/TREC*
src/logs
src/play-api/lib/glove/*.txt
src/play-api/lib/glove/*.zip
src/play-api/lib/not_glove*
src/target
data/output/txt/*
src/.idea
src/.idea_modules
src/.classpath
src/.project
src/.settings
src/RUNNING_PID
src/src/CoreNLP
src/CoreNLP/
CoreNLP
*.phd
*.phd
*.trc
src/heapdump.*
src/javacore.*
src/Snap.*
.idea/*
src/seed/*
src/1-java/target/streams/*
data/gitignore/*
data/gitignore/resources
data/gitignore
*.idea
*.cache
*.cache
*.html

src/api/.idea/*
src/api/.idea/
.json
src/1-java/target/scala-2.12*
*.jar
src/1-java/lib/glove/*
data/processed*
src/api/.idea/*


src/1-java/.idea/workspace.xml
src/play-api/data/test-tweets/all.json
src/play-api/.bsp/sbt.json
src/jupyter/test.csv
src/jupyter/train.csv
