*.class
*.log
1-src/1-java/app/project/*
.DS_Store
1-src/1-java/app/target/*
0-data/raw/datasets/*
0-data/raw/TREC*
1-src/.seed/*
1-src/1-java/target/*
1-src/TweetMinner-master/.project
1-src/lagom-java-sbt/.idea/*
1-src/CoreNLP/*
1-src2/TREC*
1-src/logs
1-src/target
1-src/.idea
1-src/.idea_modules
1-src/.classpath
1-src/.project
1-src/.settings
1-src/RUNNING_PID
1-src/1-src/CoreNLP
1-src/CoreNLP/
CoreNLP
*.phd
*.phd
*.trc
1-src/heapdump.*
1-src/javacore.*
1-src/Snap.*
.idea/*
1-src/seed/*
1-src/1-java/target/streams/*

1-src/api/target/*
*.idea
*.cache
*.cache
*.html
1-src/api/target/

1-src/api/.idea/*
1-src/api/.idea/
*.json
1-src/1-java/target/scala-2.12*
*.jar
1-src/1-java/lib/glove/glove.6B.zip
1-src/1-java/lib/glove/glove.6B.zip
1-src/1-java/lib/glove/glove.6B.100d.txt
1-src/1-java/lib/glove/glove.6B.300d.txt
1-src/1-java/lib/glove/glove.6B.200d.txt
1-src/1-java/lib/glove/glove.6B.50d.txt
0-data/processed/all10.txt
0-data/processed/all11.txt
0-data/processed/all3_new.txt
0-data/processed/all4_new.txt
0-data/processed/all5_new.txt
0-data/processed/all6_new.txt
0-data/processed/all7_new.txt
0-data/processed/all9.txt
0-data/processed/athens.txt
0-data/processed/athens1.txt
0-data/processed/athens1_new.txt
0-data/processed/athens2.txt
0-data/processed/athens_new.txt
0-data/processed/brand_new_run.txt
0-data/processed/brand_new_run2.txt
0-data/processed/brand_new_run3.txt
0-data/processed/cluster_run1.txt
0-data/processed/cluster_run2.txt
0-data/processed/full_run1.txt
0-data/processed/new_runs1.txt
0-data/processed/new_with_offset.txt
0-data/processed/newrun.txt
0-data/processed/test_run11.txt
0-data/processed/testrun.txt
0-data/processed/new_with_offset.txt
1-src/api/.idea/.name
1-src/api/.idea/codeStyles/Project.xml
1-src/api/.idea/compiler.xml
1-src/api/.idea/libraries/sbt__antlr_antlr_2_7_7_jar.xml
1-src/api/.idea/libraries/sbt__aopalliance_aopalliance_1_0_jar.xml
1-src/api/.idea/libraries/sbt__ch_qos_logback_logback_classic_1_2_3_jar.xml
1-src/api/.idea/libraries/sbt__ch_qos_logback_logback_core_1_2_3_jar.xml
1-src/api/.idea/libraries/sbt__com_eatthepath_fast_uuid_0_1_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_classmate_1_5_1_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_10_0_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_10_0_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_10_0_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_10_5_1_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_paranamer_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_13_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__com_github_ben_manes_caffeine_caffeine_2_8_0_jar.xml
1-src/api/.idea/libraries/sbt__com_github_scopt_scopt_2_12_3_7_1_jar.xml
1-src/api/.idea/libraries/sbt__com_google_code_findbugs_jsr305_3_0_2_jar.xml
1-src/api/.idea/libraries/sbt__com_google_errorprone_error_prone_annotations_2_3_3_jar.xml
1-src/api/.idea/libraries/sbt__com_google_errorprone_error_prone_annotations_2_3_4_jar.xml
1-src/api/.idea/libraries/sbt__com_google_guava_failureaccess_1_0_1_jar.xml
1-src/api/.idea/libraries/sbt__com_google_guava_guava_28_2_jre_jar.xml
1-src/api/.idea/libraries/sbt__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava_jar.xml
1-src/api/.idea/libraries/sbt__com_google_inject_extensions_guice_assistedinject_4_2_3_jar.xml
1-src/api/.idea/libraries/sbt__com_google_inject_guice_4_2_3_jar.xml
1-src/api/.idea/libraries/sbt__com_google_j2objc_j2objc_annotations_1_3_jar.xml
1-src/api/.idea/libraries/sbt__com_googlecode_usc_jdbcdslog_1_0_6_2_jar.xml
1-src/api/.idea/libraries/sbt__com_h2database_h2_1_4_199_jar.xml
1-src/api/.idea/libraries/sbt__com_novocode_junit_interface_0_11_jar.xml
1-src/api/.idea/libraries/sbt__com_palominolabs_http_url_builder_1_1_0_jar.xml
1-src/api/.idea/libraries/sbt__com_softwaremill_quicklens_quicklens_2_12_1_4_12_jar.xml
1-src/api/.idea/libraries/sbt__com_squareup_okhttp3_okhttp_3_11_0_jar.xml
1-src/api/.idea/libraries/sbt__com_squareup_okio_okio_1_14_0_jar.xml
1-src/api/.idea/libraries/sbt__com_sun_activation_javax_activation_1_2_0_jar.xml
1-src/api/.idea/libraries/sbt__com_sun_istack_istack_commons_runtime_3_0_7_jar.xml
1-src/api/.idea/libraries/sbt__com_sun_xml_fastinfoset_FastInfoset_1_2_15_jar.xml
1-src/api/.idea/libraries/sbt__com_tdunning_t_digest_3_1_jar.xml
1-src/api/.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_12_2_5_26_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_actor_typed_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_http_core_2_13_10_1_13_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_parsing_2_13_10_1_13_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_protobuf_v3_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_serialization_jackson_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_12_2_5_26_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_akka_akka_stream_2_13_2_6_10_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_config_1_4_0_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_build_link_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_filters_helpers_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_akka_http_server_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_exceptions_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_functional_2_13_2_8_1_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_guice_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_java_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_java_forms_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_java_jdbc_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_java_jpa_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_jdbc_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_jdbc_api_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_json_2_13_2_8_1_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_logback_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_server_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_streams_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_play_test_2_13_2_8_7_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_play_twirl_api_2_13_1_5_0_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_scala_logging_scala_logging_2_12_3_9_2_jar.xml
1-src/api/.idea/libraries/sbt__com_typesafe_ssl_config_core_2_13_0_4_2_jar.xml
1-src/api/.idea/libraries/sbt__com_zaxxer_HikariCP_3_4_5_jar.xml
1-src/api/.idea/libraries/sbt__commons_codec_commons_codec_1_11_jar.xml
1-src/api/.idea/libraries/sbt__commons_io_commons_io_2_6_jar.xml
1-src/api/.idea/libraries/sbt__commons_logging_commons_logging_1_2_jar.xml
1-src/api/.idea/libraries/sbt__commons_net_commons_net_3_6_jar.xml
1-src/api/.idea/libraries/sbt__io_burt_jmespath_core_0_4_0_jar.xml
1-src/api/.idea/libraries/sbt__io_burt_jmespath_jackson_0_4_0_jar.xml
1-src/api/.idea/libraries/sbt__io_dropwizard_metrics_metrics_core_4_1_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_app_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_charts_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_commons_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_core_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_graphite_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_http_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_http_client_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_jdbc_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_jms_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_netty_util_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_recorder_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_redis_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_gatling_test_framework_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_highcharts_gatling_charts_highcharts_3_3_1_jar.xml
1-src/api/.idea/libraries/sbt__io_gatling_jsonpath_2_12_0_7_0_jar.xml
1-src/api/.idea/libraries/sbt__io_jsonwebtoken_jjwt_0_9_1_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_buffer_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_codec_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_codec_dns_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_codec_http2_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_codec_http_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_codec_socks_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_common_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_handler_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_handler_proxy_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_resolver_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_resolver_dns_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_tcnative_boringssl_static_2_0_26_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_transport_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_42_Final_linux_x86_64_jar.xml
1-src/api/.idea/libraries/sbt__io_netty_netty_transport_native_unix_common_4_1_42_Final_jar.xml
1-src/api/.idea/libraries/sbt__io_pebbletemplates_pebble_3_1_0_jar.xml
1-src/api/.idea/libraries/sbt__io_suzaku_boopickle_2_12_1_3_1_jar.xml
1-src/api/.idea/libraries/sbt__jakarta_activation_jakarta_activation_api_1_2_2_jar.xml
1-src/api/.idea/libraries/sbt__jakarta_transaction_jakarta_transaction_api_1_3_3_jar.xml
1-src/api/.idea/libraries/sbt__jakarta_validation_jakarta_validation_api_2_0_2_jar.xml
1-src/api/.idea/libraries/sbt__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3_jar.xml
1-src/api/.idea/libraries/sbt__javax_activation_javax_activation_api_1_2_0_jar.xml
1-src/api/.idea/libraries/sbt__javax_inject_javax_inject_1_jar.xml
1-src/api/.idea/libraries/sbt__javax_jms_javax_jms_api_2_0_1_jar.xml
1-src/api/.idea/libraries/sbt__javax_persistence_javax_persistence_api_2_2_jar.xml
1-src/api/.idea/libraries/sbt__javax_xml_bind_jaxb_api_2_3_1_jar.xml
1-src/api/.idea/libraries/sbt__joda_time_joda_time_2_10_5_jar.xml
1-src/api/.idea/libraries/sbt__junit_junit_4_13_jar.xml
1-src/api/.idea/libraries/sbt__net_bytebuddy_byte_buddy_1_10_2_jar.xml
1-src/api/.idea/libraries/sbt__net_debasishg_redisclient_2_12_3_10_jar.xml
1-src/api/.idea/libraries/sbt__net_jodah_failsafe_2_3_1_jar.xml
1-src/api/.idea/libraries/sbt__net_jodah_typetools_0_5_0_jar.xml
1-src/api/.idea/libraries/sbt__net_sf_saxon_Saxon_HE_9_9_1_5_jar.xml
1-src/api/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_2_36_0_jar.xml
1-src/api/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_core_js_2_36_0_jar.xml
1-src/api/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_cssparser_1_5_0_jar.xml
1-src/api/.idea/libraries/sbt__net_sourceforge_htmlunit_neko_htmlunit_2_36_0_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_commons_commons_exec_1_3_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_commons_commons_lang3_3_9_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_commons_commons_pool2_2_6_0_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_commons_commons_text_1_7_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_httpcomponents_httpclient_4_5_9_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_httpcomponents_httpcore_4_4_11_jar.xml
1-src/api/.idea/libraries/sbt__org_apache_httpcomponents_httpmime_4_5_9_jar.xml
1-src/api/.idea/libraries/sbt__org_atteo_classindex_classindex_3_4_jar.xml
1-src/api/.idea/libraries/sbt__org_bouncycastle_bcpkix_jdk15on_1_64_jar.xml
1-src/api/.idea/libraries/sbt__org_bouncycastle_bcprov_jdk15on_1_64_jar.xml
1-src/api/.idea/libraries/sbt__org_brotli_dec_0_1_2_jar.xml
1-src/api/.idea/libraries/sbt__org_checkerframework_checker_qual_2_10_0_jar.xml
1-src/api/.idea/libraries/sbt__org_dom4j_dom4j_2_1_1_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_jetty_client_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_jetty_http_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_jetty_io_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_jetty_util_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_jetty_xml_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_api_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_client_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_common_9_4_20_v20190813_jar.xml
1-src/api/.idea/libraries/sbt__org_fluentlenium_fluentlenium_core_3_7_1_jar.xml
1-src/api/.idea/libraries/sbt__org_glassfish_jaxb_jaxb_runtime_2_3_1_jar.xml
1-src/api/.idea/libraries/sbt__org_glassfish_jaxb_txw2_2_3_1_jar.xml
1-src/api/.idea/libraries/sbt__org_hamcrest_hamcrest_core_1_3_jar.xml
1-src/api/.idea/libraries/sbt__org_hdrhistogram_HdrHistogram_2_1_11_jar.xml
1-src/api/.idea/libraries/sbt__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_hibernate_hibernate_core_5_4_9_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_2_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_hibernate_validator_hibernate_validator_6_1_5_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_javassist_javassist_3_24_0_GA_jar.xml
1-src/api/.idea/libraries/sbt__org_jboss_jandex_2_1_1_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_jboss_logging_jboss_logging_3_3_2_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final_jar.xml
1-src/api/.idea/libraries/sbt__org_jodd_jodd_core_5_0_13_jar.xml
1-src/api/.idea/libraries/sbt__org_jodd_jodd_lagarto_5_0_13_jar.xml
1-src/api/.idea/libraries/sbt__org_jodd_jodd_log_5_0_13_jar.xml
1-src/api/.idea/libraries/sbt__org_json4s_json4s_ast_2_12_3_6_7_jar.xml
1-src/api/.idea/libraries/sbt__org_json4s_json4s_core_2_12_3_6_7_jar.xml
1-src/api/.idea/libraries/sbt__org_json4s_json4s_jackson_2_12_3_6_7_jar.xml
1-src/api/.idea/libraries/sbt__org_json4s_json4s_scalap_2_12_3_6_7_jar.xml
1-src/api/.idea/libraries/sbt__org_jvnet_staxex_stax_ex_1_8_jar.xml
1-src/api/.idea/libraries/sbt__org_lz4_lz4_java_1_7_1_jar.xml
1-src/api/.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_3_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_12_0_9_0_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_13_0_9_1_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_1_1_2_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_swing_2_12_2_1_1_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_1_2_0_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_1_2_0_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_scala_library_2_12_10_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_1_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_10_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_1_jar.xml
1-src/api/.idea/libraries/sbt__org_scala_sbt_test_interface_1_0_jar.xml
1-src/api/.idea/libraries/sbt__org_seleniumhq_selenium_htmlunit_driver_2_36_0_jar.xml
1-src/api/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_api_3_141_59_jar.xml
1-src/api/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59_jar.xml
1-src/api/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_remote_driver_3_141_59_jar.xml
1-src/api/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_support_3_141_59_jar.xml
1-src/api/.idea/libraries/sbt__org_simpleflatmapper_lightning_csv_8_0_3_jar.xml
1-src/api/.idea/libraries/sbt__org_simpleflatmapper_sfm_util_8_0_3_jar.xml
1-src/api/.idea/libraries/sbt__org_slf4j_jcl_over_slf4j_1_7_30_jar.xml
1-src/api/.idea/libraries/sbt__org_slf4j_jul_to_slf4j_1_7_30_jar.xml
1-src/api/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_28_jar.xml
1-src/api/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_30_jar.xml
1-src/api/.idea/libraries/sbt__org_springframework_spring_beans_5_2_9_RELEASE_jar.xml
1-src/api/.idea/libraries/sbt__org_springframework_spring_context_5_2_9_RELEASE_jar.xml
1-src/api/.idea/libraries/sbt__org_springframework_spring_core_5_2_9_RELEASE_jar.xml
1-src/api/.idea/libraries/sbt__org_typelevel_spire_macros_2_12_0_16_2_jar.xml
1-src/api/.idea/libraries/sbt__org_unbescape_unbescape_1_1_6_RELEASE_jar.xml
1-src/api/.idea/libraries/sbt__tyrex_tyrex_1_0_1_jar.xml
1-src/api/.idea/libraries/sbt__xalan_serializer_2_7_2_jar.xml
1-src/api/.idea/libraries/sbt__xalan_xalan_2_7_2_jar.xml
1-src/api/.idea/libraries/sbt__xerces_xercesImpl_2_12_0_jar.xml
1-src/api/.idea/libraries/sbt__xml_apis_xml_apis_1_4_01_jar.xml
1-src/api/.idea/modules.xml
1-src/api/.idea/modules/api_1246-build.iml
1-src/api/.idea/modules/api_1246.iml
1-src/api/.idea/modules/gatling.iml
1-src/api/.idea/modules/play-java-rest-api-example-build.iml
1-src/api/.idea/modules/play-java-rest-api-example.iml
1-src/api/.idea/play2_project_settings.xml
1-src/api/.idea/play2_settings.xml
1-src/api/.idea/sbt.xml
1-src/api/.idea/scala_compiler.xml
1-src/api/target/streams/test/unmanagedJars/_global/streams/export
1-src/api/target/streams/test/unmanagedClasspath/_global/streams/export
1-src/api/target/streams/test/managedClasspath/_global/streams/export
1-src/api/target/streams/test/externalDependencyClasspath/_global/streams/export
1-src/api/target/streams/runtime/unmanagedJars/_global/streams/export
1-src/api/target/streams/runtime/unmanagedClasspath/_global/streams/export
1-src/api/target/streams/runtime/managedClasspath/_global/streams/export
1-src/api/target/streams/runtime/externalDependencyClasspath/_global/streams/export
1-src/api/target/streams/compile/unmanagedClasspath/_global/streams/out
1-src/api/target/streams/compile/twirlCompileTemplates/_global/streams/out
1-src/api/target/streams/compile/scalacOptions/_global/streams/out
1-src/api/target/streams/compile/playRoutes/_global/streams/op-cache
1-src/api/target/streams/compile/managedClasspath/_global/streams/export
1-src/api/target/streams/compile/internalDependencyClasspath/_global/streams/out
1-src/api/target/streams/compile/internalDependencyClasspath/_global/streams/export
1-src/api/target/streams/compile/incOptions/_global/streams/out
1-src/api/target/streams/compile/externalDependencyClasspath/_global/streams/export
1-src/api/target/streams/compile/dependencyClasspath/_global/streams/export
1-src/api/target/streams/compile/compileSplit/_global/streams/out
1-src/api/target/streams/compile/compileScalaBackend/_global/streams/out
1-src/api/target/streams/compile/compileIncremental/_global/streams/out
1-src/api/target/streams/compile/compileIncremental/_global/streams/export
1-src/api/target/streams/compile/compile/_global/streams/out
1-src/api/target/streams/compile/bspReporter/_global/streams/out
1-src/api/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
1-src/api/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
1-src/api/target/streams/_global/updateClassifiers/_global/streams/out
1-src/api/target/streams/_global/update/_global/streams/out
1-src/api/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
1-src/api/target/streams/_global/playCompileEverything/_global/streams/out
1-src/api/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
1-src/api/target/streams/_global/_global/csrLogger/_global/streams/out
1-src/api/target/streams/_global/_global/checkBuildSources/_global/streams/out
1-src/api/target/streams/_global/_global/checkBuildSources/_global/inputFileStamps/previous
1-src/api/target/streams/_global/_global/_global/streams/out
1-src/api/target/scala-2.13/update/update_cache_2.13/output
1-src/api/target/scala-2.13/twirl/main/views/html/timeout.template.scala
1-src/api/target/scala-2.13/twirl/main/views/html/index.template.scala
1-src/api/target/scala-2.13/routes/main/v1/post/routes.java
1-src/api/target/scala-2.13/routes/main/v1/post/ReverseRoutes.scala
1-src/api/target/scala-2.13/routes/main/v1/post/javascript/JavaScriptReverseRoutes.scala
1-src/api/target/scala-2.13/routes/main/tweets/RoutesPrefix.scala
1-src/api/target/scala-2.13/routes/main/tweets/Routes.scala
1-src/api/target/scala-2.13/routes/main/router/RoutesPrefix.scala
1-src/api/target/scala-2.13/routes/main/router/Routes.scala
1-src/api/target/scala-2.13/routes/main/posts/RoutesPrefix.scala
1-src/api/target/scala-2.13/routes/main/posts/Routes.scala
1-src/api/target/scala-2.13/routes/main/controllers/routes.java
1-src/api/target/scala-2.13/routes/main/controllers/ReverseRoutes.scala
1-src/api/target/scala-2.13/routes/main/controllers/javascript/JavaScriptReverseRoutes.scala
1-src/api/target/.history
1-src/api/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
1-src/api/project/target/streams/runtime/managedClasspath/_global/streams/export
1-src/api/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
1-src/api/project/target/streams/runtime/fullClasspath/_global/streams/export
1-src/api/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
1-src/api/project/target/streams/runtime/dependencyClasspath/_global/streams/export
1-src/api/project/target/streams/compile/unmanagedClasspath/_global/streams/out
1-src/api/project/target/streams/compile/scalacOptions/_global/streams/out
1-src/api/project/target/streams/compile/managedClasspath/_global/streams/export
1-src/api/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
1-src/api/project/target/streams/compile/incOptions/_global/streams/out
1-src/api/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
1-src/api/project/target/streams/compile/dependencyClasspath/_global/streams/export
1-src/api/project/target/streams/compile/copyResources/_global/streams/out
1-src/api/project/target/streams/compile/compileIncremental/_global/streams/out
1-src/api/project/target/streams/compile/bspReporter/_global/streams/out
1-src/api/project/target/streams/compile/_global/_global/compileOutputs/previous
1-src/api/project/target/streams/_global/update/_global/streams/out
1-src/api/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
1-src/api/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
1-src/api/project/target/streams/_global/_global/csrLogger/_global/streams/out
1-src/api/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
1-src/api/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
1-src/api/project/target/.sbt-compilation-infos/root-compile/.sbt-idea-lock
1-src/api/gatling/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
1-src/api/gatling/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
1-src/api/gatling/target/streams/_global/updateClassifiers/_global/streams/out
0-data/processed/new_with_offset.txt
